/*********************
  Global Styles
*********************/

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    background-image: url("../img/usa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*********************
  Navigation
*********************/

nav {
    margin: 10px;
    max-width: 99%;
    height: 65px;
}

nav ul {
    text-align: center;
    white-space: nowrap;
}

nav li {
    display: inline-block;
    width: 100px;
    padding: 7.5px;
    margin: 2.5px;
}

nav ul li.selected {
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    border-style: inset;
    font-size: 1em;
}
/*********************
  Main Section
*********************/

.container {
    max-width: 600px;
    margin: 0 auto;
}
/*********************
  Game Box
*********************/

.gbox {
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;
}

.gbox h2 {
    padding: 5px;
    width: 100%;
    background-color: #283966;
    color: white;
}

.gbox p {
    font-size: 1.4em;
}

#scorebox {
    height: 100px;
}

#hintbox {
    height: 125px;
}

#hint {
    padding: 10px;
}

#guessbox {
    text-align: center;
    height: 150px;
    color: grey;
}

#question {
    display: block;
}

#txtGuess {
    width: 50%;
    margin: 2.5% 0;
    font-size: 1.4em;
}

#submit {
    display: block;
    margin: 0 auto;
}

#submit,
#restart {
    padding: 1% 2%;
}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#resultText {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 3em;
}

#restart {
    display: none;
    margin: 10px 0;
}

button {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
}

button:active {
    position: relative;
    top: 1px;
}
/*********************
  Footer
*********************/

.footer {
    text-align: center;
}
/*Added by Javid below for example for iPhone screen to make it mobile*/

@media only screen and (max-width: 375px) {}
