* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

form {
    font-size: 1.25em;
}

h1 {
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    font-size: 3em;
}

header {
    width: 100%;
    text-align: center;
    padding: 75px 0;
}

input {
    color: grey;
    margin: 10px 0;
    font-size: 1.5em;
    text-align: center;
}

.container {
    width: 450px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#hint {
    margin: 10px;
    font-size: 1.6em;
}
#txtGuess {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit {
    padding: 1% 2%;
}

#score {
    padding: 20px;
    background-color: white;
    width: 50%;
    max-width: 450px;
    position: absolute;
    top: -60px;
    left: 0; /* centers from left */
    right: 0; /* centers from right */
/*    display: none;  hide on load */
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.7);
}
